<div class="plan">
    <div class="plan odd">
        <div class="plan-name odd">
            プランテキスト
        </div>
        <div class="plan-price odd">
            5,000
        </div>
        <div class="plan-detail odd">
            <ul>
                <li>入会金0円</li>
                <li>平日 : 9時～17時</li>
                <li>土日祝 : 利用ナシ</li>
                <li>コアタイムでの利用に最適なプラン</li>
            </ul>
        </div>
    </div>
    <div class="plan even">
        <div class="plan-name even">
            プランテキスト
        </div>
        <div class="plan-price even">
            5,000
        </div>
        <div class="plan-detail even">
            <ul>
                <li>入会金0円</li>
                <li>平日 : 9時～17時</li>
                <li>土日祝 : 利用ナシ</li>
                <li>コアタイムでの利用に最適なプラン</li>
            </ul>
        </div>
    </div>
</div>    