@use "../../variables" as *;

.card {
    position: relative;
    border-radius: 0;
    .card-title {
        position: absolute;
        left: 6px;
        z-index: 2;
        font-size: $fontsize-l;
        font-weight: 700;
        line-height: 29px;
        color: $orange_bistre;
    }

    .triangle {
        position: absolute;
        z-index: 1;
        border-bottom: 150px solid transparent;
        border-left: 150px solid white;
    }

    .card-image {
        overflow: hidden;
        img {
            width: 100%;
            &:hover {
                transform: scale(1.2);
                transition: all 0.5s ease;
            }
        }
    }

    .card-text {
        line-height: 33px;
        font-size: $fontsize-s;
        margin: 32px auto 0;
    }

    .button {
        margin: 30px auto 32px;
    }
}