@use "../../variables" as *;

header {
  padding: 0 30px;
  height: 90px;
  width: 100%;
  background-color: $black_50;
  display: flex;
  align-items: center;

  @media screen and (max-width: $breakpoint-xl) {
    padding: 0 16px;
    height: 60px;
    background-color: $black;
  }

  .navbar {
    padding: 0;

    .container-fluid {
      padding: 0;

      .navbar-brand {
        margin: 0;
      }

      .header-img {
        width: 140px;
        height: 24px;

        @media screen and (max-width: $breakpoint-xl) {
          width: 120px;
          height: 21px;
        }
      }

      .collapse {
        margin-right: 50px;
        /*display: flex;
        justify-content: flex-end;*/

        .navbar-nav {
          display: flex;
          justify-content: flex-end;

          .nav-item {
            margin: 0;

            .nav-link {
              font-size: $fontsize-s;
              color: $white;
              padding: 0;
              transition: all 0.2s ease;

              &:hover {
                color: $gray_nobel;
              }
            }

            .dropdown-menu {
              background: none;
              border: none;

              .dropdown-item {
                font-size: $fontsize-s;
                color: $white;
                background-color: $black;
                transition: all 0.2s ease;
                width: 220px;
                height: 56px;
                padding: 18px; //効いてない

                &:hover {
                  background-color: $orange_bistre;
                }
              }
            }
          }
        }
      }
    }

    .dropdown:hover > .dropdown-menu {
      display: block;
    }

    //ハンバーガー
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  }
}

/* nav-item:focus、nav-item:hoverの文字色 */
/*.navbar .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: red;
}*/
