<div class="news">
  <div class="news-and-events-title">
    <h2>News<span class="caption">お知らせ</span></h2>
  </div>
  <div class="news-article">
    <div class="time">2018.06.20</div>
    <a href="#" class="news-link">
      ブックカフェ・コワーキング系サイト向けテーマ「Swit...
    </a>
  </div>
  <div class="news-article">
    <div class="time">2018.06.18</div>
    <a href="#" class="news-link">
      3種のレイアウトから選択できるテンプレートを固定ペ...
    </a>
  </div>
  <div class="news-article">
    <div class="time">2018.06.12</div>
    <a href="#" class="news-link">
      利用者からのご質問をまとめた「FAQ」ページをアップ...
    </a>
  </div>
  <div class="news-article">
    <div class="time">2018.06.08</div>
    <a href="#" class="news-link">
      デモ用のサンプルデータを表示する「インポート機能」...
    </a>
  </div>
  <div class="news-article">
    <div class="time">2018.06.02</div>
    <a href="#" class="news-link"> テーマのアップデート情報について </a>
  </div>
  <a href="#" class="news-and-events-more">
    お知らせ一覧<i class="fas fa-chevron-right"></i>
  </a>
</div>
