@use "../../variables" as *;

.news {
  display: flex;
  flex-direction: column;
  .news-article {
    background-color: $white;
    box-sizing: border-box;
    border: 1px solid $gray_gainsboro;
    height: 85px;
    padding: 20px;
    .time {
      font-size: 12px;
      line-height: 12px;
      color: $gray_nobel;
      margin-bottom: 10px;
    }
    .news-link {
      line-height: 23px;
      color: black;
      transition: all 0.2s ease;
      &:hover {
        color: $orange_bistre;
        text-decoration: none;
      }
    }
  }
  .news-and-events-more {
    align-self: flex-end;
  }
}
