@use "../../variables" as *;

a {
    position: absolute;
    width: 200px;
    height: 55px;
    text-align: center;
    padding: 17.5px 0px;

    font-size: $fontsize-s;
    font-family: $fontfamily-gothic;
    background-color: $black;
    color: $white;
    transition: 0.2s;
}

a:hover {
    background-color: $orange_bistre;
    color: $white;
    text-decoration: none;
}

@media screen and (max-width: $breakpoint-lg) {
    a {
        width: 150px;
    }
}

@media screen and (max-width: $breakpoint-md) {
    a {
        width: 180px;
        height: 45px;
        padding: 12.5px 0px;
    }
}